@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
body {
  font-family: "Philosopher", sans-serif;
  margin: 0 auto;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

/*HEADER*/
.header-inner {
  padding: 30px 0;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  transition: opacity 0.3s;
}
.header-nav a:hover {
  opacity: 0.3;
}
.header-nav_list {
  display: flex;
  align-items: center;
  gap: 0 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.header-nav_list a:hover {
  opacity: 0.3;
}
.header-user-actions {
  display: flex;
  align-items: center;
  gap: 0 15px;
}

/*Меню бургер*/
.header-nav__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav__btn span {
  background-color: #000000;
  height: 2px;
  width: 100%;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header-mobile-actions,
.menu-close__btn {
  display: none;
}

/*Адаптивная верстка*/
@media (max-width: 1180px) {
  .container {
    max-width: 970px;
  }
  .programs {
    padding: auto;
  }
  .header .container {
    min-height: auto;
  }
  .header-inner {
    min-height: auto;
  }
  .header-nav {
    min-height: auto;
  }
  .footer .container {
    min-height: auto;
    flex-wrap: wrap;
  }
  .program-ration-wrapper-content-cards {
    display: flex;
    flex-direction: column;
  }
  .program-ration {
    margin-bottom: 400px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header-nav {
    order: -1;
  }
  .header_logo {
    margin-left: auto;
    margin-right: auto;
  }
  .header-nav_list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #ffffff;
    display: block;
    text-align: center;
    padding-top: 60px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease;
  }
  .header-nav_list.header-nav__list--open {
    transform: translateY(0%);
  }

  .menu-close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .header-mobile-actions {
    background-color: #e7f1dd;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  .header-nav__btn {
    display: flex;
  }
  .header-mobile-actions,
  .menu-close__btn {
    display: block;
  }
  .programs-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .programs-food {
    margin-bottom: 900px;
  }
  .programs-menu__list {
    margin-right: 30px;
  }
  .programs-menu-calories {
    display: flex;
    flex-wrap: wrap;
  }
  .programs-menu__list,
  .programs-calories__list {
    display: flex;
    flex-wrap: wrap;
  }
  .program-ration-wrapper-content-cards {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 860px) {
  .header-nav_list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #ffffff;
    display: block;
    text-align: center;
    padding-top: 60px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease;
  }
  .header-nav__list.header-nav__list--open {
    transform: translateY(0%);
  }

  .menu-close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .header-mobile-actions {
    background-color: #e7f1dd;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  .header-nav__btn {
    display: flex;
  }
  .header-nav {
    order: -1;
    margin-right: 0;
  }
  .header-mobile-actions,
  .menu-close__btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .header-inner {
    padding-left: 60px;
    padding-right: 60px;
  }
  .program-ration-cards-duration {
    max-width: 400px;
    width: 100%;
  }
  .program-ration-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 700px;
    width: 100%;
  }
}
@media (max-width: 680px) {
  .header-nav__btn {
    margin-right: 100px;
  }
  .header_logo {
    margin-right: 100px;
  }
  .header_logo {
    height: 80px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .programs-cards {
    gap: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .programs-menu__list__all,
  .programs-menu__list__loss,
  .programs-menu__list__sport,
  .programs-menu__list__veg,
  .programs-menu__list__lean,
  .programs-menu__list_thousand_calories,
  .programs-menu__list_thousand_three_hundred_calories,
  .programs-menu__list_thousand_eight_hundred_calories,
  .programs-menu__list_two_thousand_calories {
    font-size: 20px;
  }
  .programs-menu__list {
    font-size: 20px;
  }
  .programs-calories__list {
    font-size: 20px;
  }
  .programs-food {
    margin-bottom: 900px;
  }
  .footer-title,
  .footer-text,
  .footer-contacts,
  .footer-text__link {
    font-size: 24px;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
  }
  .program-ration-cards-duration {
    max-width: 300px;
  }
  .programs-ration-card__content {
    max-width: 300px;
  }
  .programs-ration-card-line:after {
    max-width: 300px;
  }
  .program-ration-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .header-nav__btn {
    padding-left: 5px;
  }
  .header_logo {
    padding-right: 5px;
  }
  .header_logo {
    height: 40px;
  }
  .header-inner {
    padding: 10px 0;
    min-height: 50px;
  }
  .header_logo {
    height: 40px;
  }
  .header-nav_list {
    width: 360px;
  }
  .programs-cards {
    gap: 5px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-nav__btn {
    margin-right: 75px;
  }
  .header_logo {
    margin-right: 75px;
  }
  .footer-title,
  .footer-text,
  .footer-contacts,
  .footer-text__link {
    font-size: 24px;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
  }
  .programs-menu__list__all,
  .programs-menu__list__loss,
  .programs-menu__list__sport,
  .programs-menu__list__veg,
  .programs-menu__list__lean,
  .programs-menu__list_thousand_calories,
  .programs-menu__list_thousand_three_hundred_calories,
  .programs-menu__list_thousand_eight_hundred_calories,
  .programs-menu__list_two_thousand_calories {
    font-size: 20px;
  }
  .programs-food-card__text {
    font-size: 20px;
  }
  .programs-food {
    margin-bottom: 1000px;
  }
  .contact_icons {
    columns: 1;
  }
  .program-ration-cards-duration {
    max-width: 250px;
  }
  .programs-ration-card__content {
    max-width: 250px;
  }
  .programs-ration-card-line:after {
    max-width: 250px;
  }
  .programs-ration-cards-duration-button {
    max-width: 250px;
    max-height: 40px;
    margin-left: -25px;
  }
}
@media (max-width: 360px) {
  .header-inner {
    padding: 15px 0;
    min-height: 50px;
  }
  .header-nav_list {
    width: 360px;
  }
  .header-nav__btn {
    margin-right: 75px;
  }
  .header_logo {
    margin-right: 75px;
  }
  .programs-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-title,
  .footer-text,
  .footer-contacts,
  .footer-text__link {
    font-size: 24px;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
  }
  .programs-menu__list__all,
  .programs-menu__list__loss,
  .programs-menu__list__sport,
  .programs-menu__list__veg,
  .programs-menu__list__lean,
  .programs-menu__list_thousand_calories,
  .programs-menu__list_thousand_three_hundred_calories,
  .programs-menu__list_thousand_eight_hundred_calories,
  .programs-menu__list_two_thousand_calories {
    font-size: 20px;
  }
  .programs-food-card__text {
    font-size: 20px;
  }
  .programs-food-card__content {
    max-width: 200px;
  }

  .contact_icons {
    columns: 1;
  }
  .program-ration-cards-duration {
    max-width: 200px;
    }
  .programs-ration-card__content {
    max-width: 200px;
  }
  .programs-ration-card-line:after {
    max-width: 200px;
  }
  .programs-ration-cards-duration-button {
    max-width: 200px;
    max-height: 40px;
    margin-left: -25px;
  }
}

/*PROGRAMS*/

.programs {
  padding: 36px 0px 76px 0px;
}
.container {
}
.programs-title {
  margin-bottom: 50px;
}
.programs__title {
  margin: 0 auto;

  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #000000;
}
.programs-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.programs-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 380px;
  max-height: 300px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);

  transition: all 0.5s;
}
/*Наведение на карточку*/
.programs-card:hover {
  transform: scale(1.08);
}

.programs-card-content {
  padding: 30px 50px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.programs-card__img {
  width: 70px;
  height: 70px;
}

.programs-card__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #000000;
}
.programs-card__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.programs-card-button {
  min-width: 225px;
  min-height: 41px;
  background-color: #90e326;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.programs-card-button:hover {
  background-color: #447704;
}
.programs-card-button__title {
  list-style-type: none;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.programs-card-button__title:hover {
  color: #000000;
}

/*PROGRAMS FOOD*/
.programs-food {
  padding: 15px 0 50px 0;
}
.container {
}
.programs-food-title {
  margin-bottom: 25px;
}
.programs-food__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
  text-align: center;
}
.programs-menu-calories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.programs-menu {
}
.programs-menu__content {
}
.programs-menu__list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.programs-menu-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.programs-menu__list__all a {
  color: #447704;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.programs-menu__list__loss:hover a,
.programs-menu__list__sport:hover a,
.programs-menu__list__veg:hover a,
.programs-menu__list__lean:hover a {
  color: #447704;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.programs-calories {
}
.programs-calories__content {
}
.programs-calories__list {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
.programs-calories-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.programs-menu__list_thousand_calories a {
  color: #447704;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.programs-menu__list_thousand_three_hundred_calories:hover a,
.programs-menu__list_thousand_eight_hundred_calories:hover a,
.programs-menu__list_two_thousand_calories:hover a {
  color: #447704;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.programs-food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.programs-food-card {
  max-width: 380px;
  height: 430px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);

  transition: all 0.5s;
}

/*Наведение на картинку*/
.programs-food-card:hover {
  transform: scale(1.08);
}

.programs-food-card-img {
  width: 380px;
  height: 215px;
}
.programs-food-card__img {
  width: 380px;
  height: 215px;
}
.programs-food-card__content {
  padding: 18px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.programs-food-card__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}
.programs-food-card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.programs-food-card-button {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #90e326;
}
.programs-food-card-button:hover {
  background-color: #447704;
}

.programs-food-card-button__text {
  list-style-type: none;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.programs-food-card-button__text:hover {
  color: #000000;
}

.programs-sport-food__content {
  padding: 18px 15px 60px 15px;
}

.programs-lactose-free-food__content {
  padding: 18px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.programs-stomach-food__content {
  padding: 18px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.programs-baby-food-card__content {
  padding: 18px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vector_two {
  background: url(./../image/programs-food/Vectors.png);
  object-fit: cover;
  width: 100%;
  height: 1142px;
  background-repeat: no-repeat;
}

/*FOOTER*/
.footer {
  padding: 25px 0;
  position: relative;
  z-index: 10;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 175px;
}
.about_as {
  width: 370px;
}
.contact_icons {
  list-style-type: none;
  padding: 0;
}

.contact_icons li a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: inherit;
}
.contact_icons li img {
  margin-right: 8px;
  margin-bottom: 8px;
}

/*PROGRAMS DAILY RATION*/
.program-ration {
  padding: 25px 0 25px;
}
.container {
}
.program-ration-title {
  margin-bottom: 50px;
}
.program-ration__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #447704;
}
.program-ration-wrapper {
  padding: 25px 80px 45px 80px;
  border-radius: 30px;
  background-color: #e7f1dd;
}
.program-ration-wrapper-content {
}
.program-ration-wrapper-content-title {
}
.program-ration-wrapper-content__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.program-ration-wrapper-content-cards {
  display: flex;
  gap: 116px;
}
.program-ration-cards-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.programs-ration-card__content {
  padding: 24px 18px 18px 18px;
  width: 400px;
  height: 205px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.program-ration-card-calories {
  margin-bottom: 31px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  align-content: center;
}
.programs-ration-card-title-meal {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.programs-ration-card-first-meal {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-calories-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 110px;
  height: 32px;
  background-color: #90e326;
  border-radius: 10px;
}
.programs-ration-card-calories-button:hover {
  background-color: #86c239;
}
.programs-ration-card-calories-button__title {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.programs-ration-card-title {
  margin-bottom: 17px;
}
.programs-ration-card__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #447704;
  text-align: center;
}
.programs-ration-card-kbzhu {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}
.programs-ration-card-kbzhu-proteins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.programs-ration-card-kbzhu-proteins__count {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-kbzhu-proteins__title {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-kbzhu-fats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.programs-ration-card-kbzhu-fats__count {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-kbzhu-fats__title {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-kbzhu-carbohydrates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.programs-ration-card-kbzhu-carbohydrates__count {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-kbzhu-carbohydrates__title {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.programs-ration-card-line {
  position: relative;
  display: inline-block;
}
.programs-ration-card-line:after {
  content: "";
  background: #447704;
  width: 400px;
  height: 3px;
  bottom: 17px;
  position: absolute;
}

.program-ration-cards-duration {
  padding: 20px 30px 28px 29px;
  width: 504px;
  height: 434px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.programs-ration-card-duration__content {
}
.programs-ration-card-duration-title {
  margin-bottom: 16px;
}
.programs-ration-card-duration__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.programs-ration-cards-duration {
  margin-bottom: 42px;
}

.programs-ration-cards-duration__card-two {
  margin-bottom: 20px;
  display: flex;
  gap: 45px;
}
.programs-ration-cards-duration__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 70px;
  background-color: #90e326;
  border-radius: 10px;
}
.programs-ration-cards-duration__card:hover {
  background-color: #86c239;
}

.programs-ration-cards-duration__card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.programs-ration-cards-duration__card__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #447704;
}
.programs-ration-cards-duration-button {
  min-width: 300px;
  min-height: 60px;
  background-color: #90e326;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.programs-ration-cards-duration-button:hover {
  background-color: #86c239;
}
.programs-ration-cards-duration-button__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

/*PROGRAMS RATION ABOUT*/
.programs-ration-about {
  padding: 82px 0 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.programs-ration-about__text-one,
.programs-ration-about__text-two {
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}

.programs-ration-about__text__green {
  color: #90e326;
}
