@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
body {
  font-family: "Philosopher", sans-serif;
  margin: 0;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}

body {
  font-family: "Philosopher", sans-serif;
  margin: 0 auto;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

/*HEADER*/
.header-inner {
  padding: 30px 0;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  transition: opacity 0.3s;
}
.header-nav a:hover {
  opacity: 0.3;
}
.header-nav_list {
  display: flex;
  align-items: center;
  gap: 0 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.header-nav_list a:hover {
  opacity: 0.3;
}
.header-user-actions {
  display: flex;
  align-items: center;
  gap: 0 15px;
}

/*Меню бургер*/
.header-nav__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav__btn span {
  background-color: #000000;
  height: 2px;
  width: 100%;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header-mobile-actions,
.menu-close__btn {
  display: none;
}


form {
    width: 515px;
    
    padding: 20px;
    
  }
    .leave_review .feedback_form a {
    font-size: 24px; /* Изменение размера текста */
    padding: 10px;
  }
  
 

.feedback {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .feedback_form input {
    border-radius: 30px;
    width: 615px;
    border: none;
    background-color:rgba(68, 119, 4, 0.2);
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    height: 65px;
  }
  .fedd {
    display: flex;
    flex-direction: column;
    
  }
  .feedback_form label {
    align-self: flex-start;
    
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .button input[type="submit"].delete_button:hover {
    background-color: transparent; /* Удаление изменения фона */
    color: #45a049; /* Цвет текста */
    border: 2px solid #45a049; /* Толщина и цвет контура */
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 260px;
    font-size: 32px;
    height: 60px;
    border-radius: 30px;
  }
  .button .delete_button {
    border: 2px solid #45a049;
    background-color: white;
    color: #45a049;
  }
label.form_text{
    font-size: 24px;
}
.button{
    display: flex;
    gap:10px;
}
.line{
    display: flex;
    justify-content: center;
}
.title_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.vector{
    background-image: url(./../image1/vector_reserve.png);
    background-size: cover;
    
}
.footer {
    padding: 25px 0;
    position: relative;
    z-index: 10;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about_as {
    width: 370px;
  }
  .contact_icons {
    list-style-type: none;
    padding: 0;
    columns: 2;
  }
  
  .contact_icons li a {
    display: flex;
    text-decoration: none;
    color: inherit;
  }
  .contact_icons li img {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  /*Адаптивная верстка*/
@media (max-width: 1180px) {
  .container {
    max-width: 970px;
  }
  .programs {
    padding: auto;
  }
  .header .container {
    min-height: auto;
  }
  .header-inner {
    min-height: auto;
  }
  .header-nav {
    min-height: auto;
  }
  .footer .container {
    min-height: auto;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header-nav {
    order: -1;
  }
  .header_logo {
    margin-left: auto;
    margin-right: auto;
  }
  .header-nav_list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #ffffff;
    display: block;
    text-align: center;
    padding-top: 60px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.100);
    transition: transform .6s ease;
  }
  .header-nav_list.header-nav__list--open {
    transform: translateY(0%);
  }

  .menu-close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .header-mobile-actions {
    background-color: #e7f1dd;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  .header-nav__btn {
    display: flex;
  }
  .header-mobile-actions,
  .menu-close__btn {
    display: block;
  }
  img.header_profile{
    display:none;
  }
  img.header_basket{
    display: none;;
  }
}
@media (max-width: 860px) {
  .header-nav_list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #ffffff;
    display: block;
    text-align: center;
    padding-top: 60px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.100);
    transition: transform .6s ease;
  }
  .header-nav__list.header-nav__list--open {
    transform: translateY(0%);
  }


.menu-close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .header-mobile-actions {
    background-color: #e7f1dd;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  .header-nav__btn {
    display: flex;
  }
  .header-nav {
    order: -1;
    margin-right: 0;
  }
  .header-mobile-actions,
  .menu-close__btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .header-inner {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 680px) {
  .header-nav__btn {
    margin-right: 175px;
  }
  .header_logo {
    margin-right: 175px;
  }
  .header_logo {
    height: 80px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .header-nav__btn {
    margin-right: 175px;
  }
  .header_logo {
    margin-right: 175px;
  }
  .header_logo {
    height: 60px;
  }
  .header-inner {
    padding: 15px 0;
    min-height: 70px;
  }
}
@media (max-width: 360px) {
  .header-inner {
    padding: 15px 0;
    min-height: 50px;
  }
  .header-nav_list {
    width: 360px;
  }
}
@media(max-width: 1000px){
  .leave_review{
    padding-top: 200px;
  }
  
  form{
    width: 100%;
    padding:0;
  }
}

@media(max-width: 750px){
.feedback_form input {
  width: 100%;
}}
@media(max-width: 500px){
  .leave_review{
    padding-top: 250px;
  }
  @media (max-width: 465px){
    .contact_icons{
      columns: 1;
    }
  }
}